<header class="s-header header">

    <div class="header__top">
        <div class="header__logo">
            <a class="logo-text" href="https://github.com/autonomous-interdependent-repositories/AIRport">
                Decentralized Relational
            </a>
        </div>
        <!-- toggles -->
        <a href="#0" class="header__menu-toggle"><span>Menu</span></a>
    </div>

    <style>
        header.s-header.header {
            padding-left: 15px;
            padding-right: 10px;
        }

        header.s-header.header nav.header__nav-wrap ul.header__nav li {
            padding: 0px;
        }

        header.s-header.header nav.header__nav-wrap ul.header__nav li li {
            font-size: 10px;
        }
    </style>
    <nav class="header__nav-wrap">

        <ul class="header__nav">
            <li class="has-children current">
                <a href="./index.html" title="" class="sub-menu-is-open">Blog</a>
                <ul class="sub-menu" style="display: block;">
                    <li><a href="./2022/Cross-Repository_operations.html">Cross-Repository operations</a></li>
                    <li><a href="./2022/Solving_Id_Problems.html">Solving Id Problems</a></li>
                    <li><a href="./2022/Short_Queries.html">Short Queries</a></li>
                    <li><a href="./2022/AIR_UuId.html">AIR UuId</a></li>
                    <li><a href="./2022/Dependency_Injection.html">Dependency Injection</a></li>
                    <li><a href="./2022/Application_Interoperability.html">Application Interoperability</a></li>
                    <li><a href="./2021/Follow_the_Many_to_Ones.html">Follow the Many to Ones</a></li>
                    <li><a href="./2021/More_on_APIs.html">More on APIs</a></li>
                    <li><a href="./2021/Everything_as_Repository.html">Everything as Repository</a></li>
                    <li><a href="./2021/Migrating_the_data.html">Migrating the data</a></li>
                    <li><a href="./2021/Securing_Turbase_data.html">Securing Turbase data</a></li>
                    <li><a href="./2021/Turbase_-_AIRport_with_Ad_Engine.html">Turbase: AIRport w/ Ad Engine</a></li>
                    <li><a href="./2021/Interdependent_Components.html">Interdependent Components</a></li>
                    <li><a href="./2021/Injecting_schemas.html">Injecting Schemas</a></li>
                    <li><a href="./2021/Schemas_in_action.html">Schemas in action</a></li>
                    <li><a href="./2021/Schema_Interoperability_and_Upgrades.html">Schema Iterop & Upgrades</a></li>
                    <li><a href="./2021/To_boldly_Go_and_isolate.html">To boldly Go and isolate</a></li>
                    <li><a href="./2021/Free_at_Last.html">Free at Last</a></li>
                    <li><a href="./2021/Highway_The_Beginning.html">Highway - The Beginning</a></li>
                    <li><a href="./2020/Transactionality.html">Transactionality</a></li>
                    <li><a href="./2020/Its_your_way_or_the_Highway.html">Highway</a></li>
                    <li><a href="./2020/Air_Tower.html">Air Tower</a></li>
                    <li><a href="./2020/Airport_in_Cordova.html">Airport in Cordova</a></li>
                    <li><a href="./2020/Build_time_Queries.html">Build time Queries</a></li>
                    <li><a href="./2020/Verifying_Persistence.html">Verifying Persistence</a></li>
                    <li><a href="./2019/First_Application.html">First Application</a></li>
                    <li><a href="https://autonomousinterdependentrepositories.wordpress.com/">Previous</a>
                    </li>
                </ul>
            </li>
        </ul> <!-- end header__nav -->

        <ul class="header__social">
            <li class="ss-github">
                <a href="https://github.com/autonomous-interdependent-repositories/AIRport">
                    <span class="screen-reader-text">Github</span>
                </a>
            </li>
        </ul>

    </nav> <!-- end header__nav-wrap -->

</header>